@import url("https://fontlibrary.org//face/butler");

* {
    max-width: 1000px;
    padding: 5px;
}

body {
    font-family: "ButlerRegular";
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    background-color: oldlace;
  }


  /* The navigation bar */
.navbar {
  overflow: hidden;
  color: #5F634F;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #FF5714;
  color: white;
}

a {
    text-decoration: none;
    border-bottom:solid 1px transparent;
    color:black;
  }

  img {
      max-width: 100%;
  }
  .container {
      display: grid;
      grid-template-columns: auto auto;
      margin-top: 50px;
  }

.nav_container {
    display: grid;
    grid-template-columns: 850px 150px;

}


  
.rotate {
    animation: rotation 10s infinite linear;
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }


  #smile {
    width: 8%;
    position: absolute;
    }