@import url("https://fontlibrary.org//face/butler");
* {
    max-width: 1000px;
    background-color: oldlace;
    padding: 5px;
}

body {
    font-family: "ButlerRegular";
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
  }
img {
  max-width: 50%;
}

h1 {
  margin-top: -20px;
  size: larger;
}

a {
  text-decoration: none;
  border-bottom:solid 1px transparent;
  color:black;
}
a:hover {
text-decoration: underline;
}


h3 {
  margin-top: -20px;
}

.typewrite {
margin-left: -5px;
color: #FF5714;
font-size: larger;

}

.contact {
  text-align: left;
  padding-right: 30px;
}


.title {
  color: #5F634F;
}