@import url("https://fontlibrary.org//face/butler");
* {
    max-width: 1000px;
    background-color: oldlace;
    padding: 5px;
}

body {
    font-family: "ButlerRegular";
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
  }
img {
  margin-left: -3px;
  max-width: 500px;
}

h1 {
  margin-top: -17px;
  size: 200px;
  margin-bottom:-5px;
  margin-left:5px;
}

a {
  text-decoration: none;
  border-bottom:solid 1px transparent;
  color:black;
}



h3 {
  margin-top: -20px;

}

.typewrite {
margin-left: -5px;
color: #FF5714;
font-size: larger;
margin-top:-5px;
text-decoration: none;

}

.contact {
  text-align: left;
  padding-right: 30px;
}


.title {
  color: #5F634F;
}

.contact {
  margin-bottom: -17px;
}

.linklink {
  text-decoration: underline;
  }

  .cell {
    margin-right: -10px;
  }

  .gridbox2x1 {
    display: flex;
    grid-template-columns: 2fr 0.5fr;
  }


