@import url("https://fontlibrary.org//face/butler");
* {
    max-width: 1000px;
    background-color: oldlace;
    padding: 15px;
}

body {
    font-family: "ButlerRegular";
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
  }


  .grid_2x1_title {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    justify-content: left;
    column-gap: 30px;
  }